{% extends 'base.html' %}
{% load url from future %}
{% block content %}
View posts ({{ view_type }})

{% for obj in allposts %}
	<p>
		<span class='postdate'>
			{{ obj.post.pub_date }}
		</span>

		{{ obj.post.title }} : {{ obj.post.content }} 
		<i>(
			{% for perm in obj.perms %}
				<a href='?type_id={{ perm.id }}'>{{ perm.name }}</a>
			{% empty %}
			{% endfor %}
			)
		</i>

		{{ obj.post.id }}
		(<a href='{% url 'edit_post' obj.post.id %}'>edit</a>)
	</p>
{% endfor %}

<br />

<hr />
<pre>{% for each in queries %}{{ each }}
{% endfor %}
</pre>

{% endblock %}